In [1]:
import pandas as pd
import numpy as np 
 
df = pd.read_csv('../0-data/Root_Insurance_data.csv')

Check data

In [2]:
df.head()

,Currently Insured,Number of Vehicles,Number of Drivers,Marital Status,bid,rank,click,policies_sold
0,unknown,2,1,M,10.0,2,False,0
1,Y,3,1,M,10.0,5,False,0
2,Y,3,2,M,10.0,5,False,0
3,N,3,2,S,10.0,4,False,0
4,unknown,2,2,S,10.0,2,False,0

In [3]:
df.corr()

,Number of Vehicles,Number of Drivers,bid,rank,click,policies_sold
Number of Vehicles,1.000000,-0.029474,NaN,0.399393,-0.171822,-0.130380
Number of Drivers,-0.029474,1.000000,NaN,-0.076289,0.021604,-0.005525
bid,NaN,NaN,NaN,NaN,NaN,NaN
rank,0.399393,-0.076289,NaN,1.000000,-0.416046,-0.262496
click,-0.171822,0.021604,NaN,-0.416046,1.000000,0.606136
policies_sold,-0.130380,-0.005525,NaN,-0.262496,0.606136,1.000000

descriptive information about variables by rank

In [11]:
df.groupby(['rank']).agg(
{'Currently Insured':"count",
 'Number of Vehicles':[min,max,sum],
 'Number of Drivers':[min,max,sum],
 'Marital Status':"count",
 'click':"count",
 'policies_sold':"sum"
}
)

     Currently Insured Number of Vehicles           Number of Drivers      \
                 count                min max   sum               min max
rank
1                 1611                  1   3  2476                 1   2
2                 1608                  1   3  2541                 1   2
3                 2401                  1   3  4605                 1   2
4                 2089                  1   3  4510                 1   2
5                 2291                  1   3  5522                 1   2

           Marital Status click policies_sold
       sum          count count           sum
rank
1     2497           1611  1611           358
2     2476           1608  1608           209
3     3629           2401  2401           138
4     3088           2089  2089            58
5     3309           2291  2291            20

In [15]:
df.groupby(['rank','click']).agg(
{'Currently Insured':"count",
 'Number of Vehicles':[min,max,sum],
 'Number of Drivers':[min,max,sum],
 'Marital Status':"count",
 'policies_sold':"sum"
}
)


# sell the policy only if the ad is clicked

           Currently Insured Number of Vehicles           Number of Drivers  \
                       count                min max   sum               min
rank click
1    False               763                  1   3  1186                 1
     True                848                  1   3  1290                 1
2    False              1146                  1   3  1829                 1
     True                462                  1   3   712                 1
3    False              2050                  1   3  3942                 1
     True                351                  1   3   663                 1
4    False              1921                  1   3  4144                 1
     True                168                  1   3   366                 1
5    False              2242                  1   3  5404                 1
     True                 49                  1   3   118                 1

                     Marital Status policies_sold
           max   sum          count           sum
rank click
1    False   2  1190            763             0
     True    2  1307            848           358
2    False   2  1759           1146             0
     True    2   717            462           209
3    False   2  3114           2050             0
     True    2   515            351           138
4    False   2  2836           1921             0
     True    2   252            168            58
5    False   2  3241           2242             0
     True    2    68             49            20